.ad1_container {
  margin-top: 1rem;
  height: 14rem;
  background: blue;
  padding-top: 3rem;
  div {
    height: 100%;
    text-align: center;
    padding-top: 2rem;
    a {
      color: white;
      font-size: 2rem;
    }
  }
}
