@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin inner_container_pc {
  margin: 0 auto;
  // width: 56.5rem;
  width: 70.5rem;
}
@mixin basicPartition {
  width: 100%;
  height: 0.3rem;
  background: $basic-color;
  border-bottom: solid 0.05rem white;
}
