@import "mixins";

button {
  cursor: pointer;
}
.menu_container {
  @include flex-center;
  background: rgb(91, 228, 157);
  display: block;

  .btnContainer_MenuBar {
    @include inner_container_pc;
    padding-left: 12rem;
    height: 2.5rem;
    display: flex;
    .leftBtn_MenuBar {
      width: 70%;

      padding-top: 0.5rem;
      button {
        color: white;
        border: none;
        background: none;
        border-color: gray;
        border: 2px;
        margin-right: 10%;
        &:hover {
          color: black;
        }
      }
    }
    .rightBtn_MenuBar {
      display: flex;
      width: 30%;
      background: rgb(71, 186, 126);

      button {
        color: white;
        width: 50%;
        border: none;
        background: none;
        border-color: gray;
        border: 2px;
        &:hover {
          color: black;
        }
      }
      .partition_MenuBar {
        margin: auto;
        width: 0.1rem;
        border: none;
        height: 70%;
        background: white;
      }
    }
  }
}
.TurnOffMenuBar {
  display: none;
}
