@import "~antd/dist/antd.css";
@import "./mixins";
.header {
  width: 100%;
  @include flex-center;
  justify-items: center;
  justify-content: center;
  .menu {
    width: 100vw;
    padding: 0 20px;
    border-bottom: solid 1px #e8e8e8;
    overflow: auto;
    box-shadow: 0 0 30px #f3f1f1;
    background-color: white;
  }

  .menu__logo {
    width: 150px;
    margin-left: calc(48%);
  }

  .menu__logo a {
    display: inline-block;
    font-size: 20px;
    padding: 19px 20px;
  }
}
