@import "../../colors.scss";
.containerHeader_LeftSection {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  p {
    align-self: center;
    margin: 0;
    font-size: 1em;
    font-weight: bold;

    &:first-child {
      font-size: 1.3em;
    }
    &:last-child {
      margin-left: 42%;
      cursor: pointer;
      width: auto;
      color: white;
      background: $basic-color;
      padding: 0.3rem;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 3px;
    }
  }
  .partitionHeader_LeftSection {
    width: 0.7rem;
  }
}
