@import "../../_colors.scss";

.topPartition_ListSection {
  height: 0.2rem;
  background: $basic-color;
  width: 100%;
}
.partitionList_ListSection {
  height: 1px;
  background: gray;
  width: 100%;
}
.ListContainer_ListSection {
  flex-wrap: wrap;
  display: flex;
  padding-bottom: -10px;

  p {
    padding: 0.5rem;

    color: black;
    align-self: center;
    text-align: center;
    margin: 0;
    font-size: 0.8em;
    &:nth-child(1) {
      color: gray;

      width: 10%;
    }
    &:nth-child(2) {
      text-align: left;

      width: 40%;
    }
    &:nth-child(3) {
      width: 20%;
    }
    &:nth-child(4) {
      width: 10%;
    }
    &:nth-child(5) {
      width: 10%;
    }
    &:nth-child(6) {
      width: 10%;
    }
  }
}
