@import "../../colors.scss";
.noticeContainer_ListSection {
  display: flex;
  height: 2rem;
  background: $lightGray-color;
  flex-wrap: wrap;

  p {
    color: gray;
    align-self: center;
    text-align: center;
    margin: 0;
    font-size: 0.8em;
    &:nth-child(1) {
      width: 10%;
    }
    &:nth-child(2) {
      text-align: left;

      width: 40%;
    }
    &:nth-child(3) {
      width: 20%;
    }
    &:nth-child(4) {
      width: 10%;
    }
    &:nth-child(5) {
      width: 10%;
    }
    &:nth-child(6) {
      width: 10%;
    }
  }
}
