@import "../../colors.scss";
.searchBarContainer_ListSection {
  display: flex;
  margin: 1rem auto;
  height: 3rem;
  width: 33rem;
  .leftSearchBar_ListSection {
    padding-left: 1rem;
    height: 100%;
    width: 90%;
    align-self: center;
    display: flex;
    background: $lightGray-color;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 1rem;
    p {
      align-self: center;
      margin: 0;
    }
    .iconDown_SearchBar {
      padding-left: 0.5rem;
      align-self: center;
      padding-right: 0.5rem;
    }
    .searchBarPartition_ListSection {
      align-self: center;
      height: 70%;
      background: rgb(186, 182, 182);
      width: 1px;
    }
  }
  .rightSearchBar_ListSection {
    width: 10%;
    background: $basic-color;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    img {
      padding: 0.6rem;
      align-self: center;
      text-align: center;

      width: 100%;
      height: 100%;
    }
  }
}
