.container_account {
  margin-left: 2vw;
  overflow: hidden;
  height: 20vh;
  width: 20vw;
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(230, 235, 230);
  .top_account {
    display: flex;
    .leftTop_account {
      img {
        margin-top: 10px;
        min-width: 50px;
        min-height: 50px;

        width: auto;
        height: 12vh;
      }
    }
    .rightTop_account {
      width: 16vw;
      padding-left: 2%;
      .nameLabel_account {
        margin-top: 10px;
        height: 5vh;
      }
      hr {
        background: rgb(180, 184, 180);
      }
      .pointLabel_account {
        height: 7vh;
      }
    }
  }
  .down_account {
    display: flex;
    height: 8vh;
    .leftDown_account {
    }
    .rightDown_account {
    }
  }
}
