@import "../mixins";
@import "./Notice.scss";
@import "./FavoritePostList.scss";
.main_container {
  height: 100%;
  position: relative;

  .inner_container_pc {
    margin: 0 auto;
    width: 900px;
    .header_container {
      height: 129px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;

      .notice_section {
        width: 64.5%;
        height: 100%;
        margin-right: 10px;
      }
      .account_section {
        width: 35.5%;
        height: 100%;
      }
    }
    .body_container {
      display: flex;
      .left_section {
        width: 75%;
      }
      .right_section {
        width: 25%;
      }
    }
    .bottom_container {
      display: flex;
      flex-wrap: wrap;
      .topBottom_section {
        width: 100%;
      }
      .leftBottom_section {
        width: 75%;
      }
      .rightBottom_section {
        width: 25%;
      }
    }
  }
}
