@import "../mixins";
@import "./Notice.scss";
@import "./FavoritePostList.scss";
.main_container {
  width: 100vw;
  height: 100%;
  position: relative;

  .inner_container_pc {
    margin: 0 auto 0 auto;
    width: 62vw;
    .header_container {
      display: flex;
      .notice_section {
        height: 20vh;
        width: 40vw;
      }
      .account_section {
        width: 22vw;
      }
    }
    .body_container {
      min-height: 200px;
      display: flex;
      .left_section {
        width: 75%;
      }
      .right_section {
        width: 25%;
      }
    }
  }
}
