.nameBar_container {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 3px solid rgb(165, 240, 115);
  border-left: none;
  border-top: none;
  border-right: none;
  display: flex;
  padding-bottom: 2px;
  .name_NameBar {
    font-size: large;

    position: absolute;
    font-weight: bold;
  }
  .btn_NameBar {
    margin-top: 4px;
    margin-left: 90%;
  }
}
