.notice_container {
  height: 100%;
  width: 100%;
  .noticeSwiper_container {
    width: 100%;
    height: 100%;
    img {
      position: relative;
      width: 100%;
      height: 129px;

      // object-fit: fill;
    }
    .notice1 {
      overflow: hidden;
    }
  }
}
