.myPet_container {
  margin-top: 20px;
  height: 11rem;
  background: black;
  .myPet_inner {
    background: rgb(230, 235, 230);
    padding: 0.4rem;
    .header_myPet {
      height: 1.5rem;
      width: 100%;
      a {
        color: black;
        margin-left: 5%;
      }
      span {
        margin-left: 55%;
      }
    }
    .image_myPet {
      div {
        height: 3rem;
        width: 100%;
        padding-left: 4rem;
        padding-top: 0.5rem;
        img {
          height: 100%;
          width: 4rem;
        }
      }
    }
    .name_myPet {
      text-align: center;
      a {
        color: black;
        padding-right: 0.3rem;
      }
      img {
        width: 1rem;
        height: 1rem;
      }
    }
    .detail_myPet {
      text-align: center;
      a {
        font-size: smaller;
        color: gray;
        padding-right: 0.3rem;
      }
    }
    .expBar_myPet {
      height: 1.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 0.4rem;
      padding-bottom: 0.7rem;
      div {
        background: white;
        height: 0.8rem;
        border: 2px solid rgb(165, 240, 115);
        border-radius: 3px;
      }
    }
    .partition_MyPet {
      height: 1px;
      border-top: none;
      border-right: none;
      border-left: none;
      border: solid 1px gray;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .btn_myPet {
      text-align: center;
      button {
        font-weight: bold;
        background: none;
        border: none;
      }
    }
  }
}
